
@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Sanat</td>
        <td>Kategori açıklaması</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ulaşım</td>
        <td>Kategori açıklaması</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Kategori açıklaması</td>
        <td>Aktif</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Spor</td>
        <td>Kategori açıklaması</td>
        <td>Aktif</td>
    </tr>
</table>