@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered table-success table-striped">
    <tr>
        <th>#</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>

    </tr>

    @foreach (var item in Model)
    {
<tr>    
    <th>@item.CategoryID</th>
    <td>@item.CategoryName</td>
    <td>@item.CategoryStatus</td>
    <td><a href="/AdminCategory/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
    <td><a href="/AdminCategory/EditCategory/@item.CategoryID" class="btn btn-warning">Güncelle</a></td>
    <td><a href="#" class="btn btn-primary">Başlıklar</a></td>

</tr>
    }

</table>
<a href="/AdminCategory/AddCategory" class="btn btn-primary">Yeni Kategori Ekle</a>
<a href="/Statistik/Index" class="btn btn-primary">istatistikler</a>
<br /><br />
