
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">
    Yeni Hakkımızda Metin Girşi
</button>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-header">Hakkımızda Metin Girişi</h2>
            </div>
            <form action="/About/AddAbout/" method="post">
                <div class="modal-body">
                    <label>Hakkımda Metin 1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 1 </label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkımda Metin 2</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

